body {
    background-color: #1e1e1e;
    color: #ffffff;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    color: #00ff00;
}

.p-3 {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.graph-container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    margin-bottom: 20px;
}